
  <nav class="navbar fixed-top navbar-expand-md navbar-light fs-4" style="background-color: #cc9d05;">
    <div class="container my-3" style="max-width: 1000px">
      <a href="#" class="navbar-brand">
        <img src="../../../assets/logo.png" class="logo" alt="" /> 
      </a>
      <button
        type="button"
        class="navbar-toggler"
        data-bs-toggle="collapse"
        data-bs-target="#MenuNavegacion"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="MenuNavegacion" class="collapse navbar-collapse">
        <ul class="navbar-nav text-center mx-auto nav-text">
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Service</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Contact</a>
          </li>
        </ul>
      </div>
      <form class="d-none d-md-flex">
        <input
          class="form-control search-input"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <span class="material-icons search-lookup"> search </span>
      </form>
    </div>
  </nav>
