/*hero utilities*/

.hero {
  background-color: #fec400;
  height: 100vh;
}

.hero-container{
    height: 100%;
    max-width: 1120px;
}

.hero-text {
  max-width: 550px;
  color: white;
}

.hero-title {
  font-weight: bold;
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

.hero-paragraph {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.hero-img {
  width: 350px;
}

@media screen and (max-width: 768px) {
  .hero {
    height: 100%;
  }

  .hero-title{
      font-size: 3rem;
  }

  .hero-btns{
      text-align: center;
  }

  .hero-img {
    width: 200px;
    padding: 3rem 0;
  }

  .hero-text {
    padding-top: 10rem;
  }
}
