<section class="hero">
  <div class="container d-md-flex align-items-center justify-content-center hero-container" >
    <div class="mx-auto hero-text">
      <h1 class="hero-title">First I wanted to be a veterinarian</h1>
      <p class="hero-paragraph">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat maxime
        id, nulla aut ratione enim harum quod laboriosam similique minima!
      </p>
      <div class="d-md-flex hero-btns">
        <button type="button" class="btn btn-primary btn-lg">Contact us</button>
        <button type="button" class="btn btn-outline-light btn-lg ms-3">
          Our Service
        </button>
      </div>
    </div>
    <div style="text-align: center;">
      <img src="../../../assets/dog.png" class="hero-img" alt="" />
    </div>
  </div>
</section>
